<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-inverse bg-inverse">
    <h1 class="navbar-brand mb-0">REALTORS Association of Maui IDX</h1>
</nav>

<div class="container">
    <h2>Administrative Account Password Reset</h2>

    {{#if error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{error}}</strong>
        </div>{{/if}}

    <!--Reset Password Form-->
    <form id="passwordResetForm" method="post">
        <fieldset {{disableForm}}>
            <div id="password1Group" class="form-group">
                <label class="form-control-label" for="password1">New Password</label>
                <input id="password1" name="password1" type="password" class="form-control"
                       placeholder="Enter New Desired Password" required minlength="8" maxlength="20"
                       data-parsley-equalto="#password2">
                <div class="form-control-feedback">Your password must be 8-20 characters long.</div>
            </div>
            <div id="password2Group" class="form-group">
                <label class="form-control-label" for="password2">Repeat Password</label>
                <input type="password" class="form-control" name="password2" id="password2"
                       placeholder="Repeat Desired Password" required data-parsley-equalto="#password1">
                <div class="form-control-feedback">Your passwords must match.</div>
            </div>
            <div class="form-group">
                <button id="pwdResetSubmitBtn" type="submit" class="btn btn-primary" disabled>Change My Password
                </button>
            </div>
        </fieldset>
    </form>
    <!--End Reset Password Form-->

</div>
<!--End of Container-->

<!--JS Scripts-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    //loads local version if cdn version fails
    if (typeof jQuery == 'undefined') {
        document.write(unescape("%3Cscript src='/js/jquery-3.1.1.slim.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<!--End JS Scripts-->

<!--Form validation script-->
<script type="text/javascript">
    let passwordMinLength = 8;
    let passwordMaxLength = 20;
    $('input[type=password]').keyup(() => {
        console.log('key up');
        let pwdResetSubmitBtn = $('#pwdResetSubmitBtn');
        pwdResetSubmitBtn.attr('disabled');
        let p1HasError = false;
        let p2HasError = false;
        let password1 = $('#password1');
        let password2 = $('#password2');
        let password1Val = password1.val();
        let password2Val = password2.val();

        //start validating after at least 3 char have been inputted
        if (password1Val.length >= 3) {
            //check password length
            let length = password1Val.length;
            if (length < 8 || length > 20) {
                p1HasError = true;
            } else {
                //check for password match if password length passes
                if (password1Val !== password2Val) {
                    p2HasError = true;
                }
            }

            if (p1HasError) {
                $('#password1Group').removeClass('has-success').addClass('has-danger');
            } else {
                $('#password1Group').removeClass('has-danger').addClass('has-success');
                if (p2HasError) {
                    $('#password2Group').removeClass('has-success').addClass('has-danger');
                } else {
                    $('#password2Group').removeClass('has-danger').addClass('has-success');
                    pwdResetSubmitBtn.removeAttr('disabled');

                }
            }
        }

    });
</script>

</body>

</html>