<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-inverse bg-inverse">
    <h1 class="navbar-brand mb-0">REALTORS Association of Maui IDX</h1>
</nav>

<div class="container">
    <h2>Administrative Account Password Reset</h2>

    {{#if error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{error}}</strong>
        </div>{{/if}}

    <!--Reset Password Form-->
    <form id="passwordResetForm" method="post">
        <fieldset {{disableForm}}>
            <div class="form-group">
                <p id="passwordHelpBlock" class="form-text text-muted">
                    Your password must be 8-20 characters long.
                </p>
                <label for="password1">New Password</label>
                <input id="password1" name="password1" type="password" class="form-control"
                       placeholder="Enter New Desired Password" required minlength="8" maxlength="20"
                       data-parsley-equalto="#password2">
            </div>
            <div class="form-group">
                <label for="password2">Repeat Password</label>
                <input type="password" class="form-control" name="password2" id="password2"
                       placeholder="Repeat Desired Password" required data-parsley-equalto="#password1">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Change My Password</button>
            </div>
        </fieldset>
    </form>
    <!--End Reset Password Form-->

</div>
<!--End of Container-->

<!--JS Scripts-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.6.2/parsley.js"
        integrity="sha256-R2QjuPRUhCdDu9NtzZByw0RaYfSme3HzzpGnmh3xelE=" crossorigin="anonymous"></script>
<!--End JS Scripts-->

<script type="text/javascript">
    $()
</script>

</body>

</html>